name: Upload Python Source to S3 (OIDC)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Who am I
        run: aws sts get-caller-identity

      - name: Upload to S3
        run: |
          aws s3 sync . "s3://${{ secrets.S3_BUCKET }}/${{ secrets.S3_PREFIX }}" \
            --exclude ".git/*" \
            --exclude ".github/*" \
            --exclude "venv/*" \
            --exclude "*.csv" \
            --exclude "*accessKey*" \
            --exclude "*accessKeys*"